

.contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .contact__form {
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
  }
  
  form h2 {
    color: var(--grey);
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  form input, form textarea {
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--lightGrey);
    font-size:1rem
  }
  
  form button {
    padding: 1rem;
    background-color: var(--lightGreen);
    color: var(--white);
    font-size: 1rem;
    border: 0;
    outline:none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  
  
  }