* {
  margin: 0;
  padding: 0;
}

:root {
  --grey: #555;
  --lightGrey: #c0c0c0;
  --white: #FFFFFF;
  --lightGreen: #00C785;
  --green: #014931;
  --darkGreen: #003e29;
  --yellow: #ffdd40;
  --creme: #efeba7;
 }
 

body {
  background-color: var(--darkGreen);
}

.pages {
  text-align: center;
  font-size: 3.5rem;
  max-width: 65%;
  margin: 6% auto;
}



h1 {
  font-size: 1rem;
  color:var(--white);
  line-height: 20px;
}
h2 {
  font-size: 4rem;
  color:var(--white);
  line-height: 100px;
  
}

h3 {
  text-align: center;
}

h4 {
  font-size: 2rem;
  color: var(--lightGreen)
}

h5 {
font-size: 1rem;
color: var(--lightGrey);
line-height: 20px;
}

h6{
  font-size: 4rem;
  line-height: 200px;
  white-space: nowrap;
  }

a {
  color: var(--white);
  font-size: 1.4rem;
  text-decoration: none;
}


p {
  font-size: 1.25rem;
  color: var(--lightGreen);
  line-height: 4rem;
  text-align: left;
  
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}



 @media screen and (max-width: 800px) {

  .pages {
    font-size: 3.5rem;
    max-width: 80%;
  }

  p {
    text-align: center;
  }

} 